@import "~@fluentui/react/dist/sass/References";
@import "~bootstrap/scss/bootstrap-grid";

.destaque {
	margin: 24px 0;

	.image {
		// padding-bottom: 60%;
		aspect-ratio: 16 / 9;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
		transition: .4s;
	}

	.text {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		height: 100%;

		&__tag {
			@include ms-fontSize-12;
			margin-bottom: 5px;

			&::after {
				content: "";
				display: block;
				width: 65px;
				height: 1px;
				background-color: #e5e5e5;
			}
		}

		&__title {
			@include ms-fontSize-28;
			@include ms-fontWeight-semibold;
			margin: 0 0 10px;
		}

		&__lead {
			@include ms-fontSize-18;
		}
	}

	a {
		text-decoration: none;
		color: "[theme:link]";

		&:hover {
			color: "[theme:linkHovered]";

			.image {
				background-size: 105%;
			}
		}
	}
}
